In [ ]:
import re
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf

from sklearn.preprocessing import OneHotEncoder

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import os
with open("/content/drive/My Drive/Colab Notebooks/.../data/new_data-hap.csv", "r") as f:
  df = pd.read_csv(f, header=0, index_col='MONTH', dtype='int64', parse_dates=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 168 entries, 2008-01-01 to 2021-12-31
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  168 non-null    int64
 1   BPS         168 non-null    int64
 2   TRENDS      168 non-null    int64
 3   DELAY0      168 non-null    int64
 4   DELAY1      168 non-null    int64
 5   DELAY2      168 non-null    int64
 6   DELAY3      168 non-null    int64
 7   DELAY4      168 non-null    int64
 8   DELAY5      168 non-null    int64
 9   DELAY6      168 non-null    int64
 10  DELAY7      168 non-null    int64
 11  DELAY8      168 non-null    int64
 12  DELAY9      168 non-null    int64
 13  DELAY10     168 non-null    int64
 14  DELAY11     168 non-null    int64
 15  DELAY12     168 non-null    int64
dtypes: int64(16)
memory usage: 22.3 KB

In [ ]:
df

,Unnamed: 0,BPS,TRENDS,DELAY0,DELAY1,DELAY2,DELAY3,DELAY4,DELAY5,DELAY6,DELAY7,DELAY8,DELAY9,DELAY10,DELAY11,DELAY12
MONTH,,,,,,,,,,,,,,,,
2008-01-01,0,437966,204,291312,0,0,0,0,0,0,0,0,0,0,0,0
2008-02-01,1,465449,177,219303,291312,0,0,0,0,0,0,0,0,0,0,0
2008-03-01,2,502041,287,576583,219303,291312,0,0,0,0,0,0,0,0,0,0
2008-04-01,3,459129,198,274428,576583,219303,291312,0,0,0,0,0,0,0,0,0
2008-05-01,4,508955,238,396508,274428,576583,219303,291312,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-08-01,163,124751,244,416751,297052,533232,305767,444528,548800,655452,386575,448063,427063,434007,568575,473200
2021-09-01,164,124071,279,544887,416751,297052,533232,305767,444528,548800,655452,386575,448063,427063,434007,568575
2021-10-01,165,148645,224,351232,544887,416751,297052,533232,305767,444528,548800,655452,386575,448063,427063,434007
2021-11-01,166,153199,224,351232,351232,544887,416751,297052,533232,305767,444528,548800,655452,386575,448063,427063
2021-12-31,167,163619,242,409948,351232,351232,544887,416751,297052,533232,305767,444528,548800,655452,386575,448063